<div class="flex items-center gap-10">
  <nz-date-picker [(ngModel)]="date"></nz-date-picker>
  <nz-range-picker
    [(ngModel)]="dateRange"
    (ngModelChange)="generateChart($event)"
  ></nz-range-picker>
</div>

<div class="grid grid-cols-3 justify-center items-center mb-2">
  <div class="max-h-[400px]">
    <figure class="top-28">
      <canvas id="doughnut" class=""></canvas>
      <figcaption class="relative ml-[122px] bottom-44 font-bold">
        {{ date.toDateString() }}
      </figcaption>
    </figure>
  </div>
  <div class="col-span-2">
    <canvas id="lineChart"></canvas>
  </div>
</div>

<div class="max-h-[400px] w-full flex justify-center">
  <canvas id="barChart"></canvas>
</div>
