// #divChart {
//   display: block;
//   height: 45vh;
//   margin: auto;
//   justify-content: center;
// }

#barChart {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
}
